RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://admin.esportskhelo.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.esportskhelo.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://astdama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://astdama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://astdama.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://astdama.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://betlogik.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://betlogik.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://colossalbit.art/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://colossalbit.art$      [NC]
RewriteCond %{HTTP_REFERER} !^http://colossalbit.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://colossalbit.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://demo.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://demo.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dezzex.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dezzex.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://esport.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://esport.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://esportskhelo.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://esportskhelo.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://esportskhelo.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://esportskhelo.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mavenai.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mavenai.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mavenai.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mavenai.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.esportskhelo.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.esportskhelo.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.astdama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.astdama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.astdama.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.astdama.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.betlogik.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.betlogik.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.colossalbit.art/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.colossalbit.art$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.colossalbit.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.colossalbit.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.demo.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.demo.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dezzex.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dezzex.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.esport.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.esport.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.esportskhelo.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.esportskhelo.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.esportskhelo.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.esportskhelo.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mavenai.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mavenai.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mavenai.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mavenai.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.esportskhelo.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.esportskhelo.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://astdama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://astdama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://astdama.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://astdama.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://betlogik.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://betlogik.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://colossalbit.art/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://colossalbit.art$      [NC]
RewriteCond %{HTTP_REFERER} !^https://colossalbit.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://colossalbit.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://demo.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://demo.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dezzex.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dezzex.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://esport.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://esport.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://esportskhelo.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://esportskhelo.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://esportskhelo.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://esportskhelo.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mavenai.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mavenai.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mavenai.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mavenai.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.esportskhelo.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.esportskhelo.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.astdama.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.astdama.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.astdama.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.astdama.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.betlogik.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.betlogik.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.colossalbit.art/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.colossalbit.art$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.colossalbit.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.colossalbit.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.demo.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.demo.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dezzex.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dezzex.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.esport.dezzex.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.esport.dezzex.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.esportskhelo.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.esportskhelo.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.esportskhelo.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.esportskhelo.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kheloindiaonline.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mavenai.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mavenai.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mavenai.kheloindiaonline.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mavenai.kheloindiaonline.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

